<div class="contents">
  <div class="form-edit">
    <%= form_for @tweet do |f| %>
      <h3>
        編集する
      </h3>

      <%= f.text_field :image,placeholder: "Image Url" %>

      <%= f.text_area :text,placeholder: "text",rows: 10 %>
      <input class="btn-sent" type="submit" value="SENT">
      <p class="blinking" id="maxword" ></p>

    <% end %>
  </div>
</div>
